*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #231f20;
    margin: 0;
}
#masthead{
    position: fixed;
    width: 100%;
    top: 0;
}

.title-flowt{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
}

.flo-btn{
    cursor: pointer;
    outline: 0;
    color: #FFF;
    font: inherit;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    margin: 0;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-appearance: none;
    transition: all .3s ease;
}

.flo-btn.green{
    border: 1px solid #91ff24;
}
.flo-btn.green:hover{
    background-color: #91ff24;
}
.flo-btn.orange{
    border: 1px solid #ff6038;
}
.flo-btn.orange:hover{
    background-color: #ff6038;
}
.flo-btn.yellow{
    border: 1px solid #ffcb00;
}
.flo-btn.yellow:hover{
    background-color: #ffcb00;
}
.flo-btn.pink{
    border: 1px solid #ff375c;
}
.flo-btn.pink:hover{
    background-color: #ff375c;
}


.flo-nav{
    background-color: rgba(0,0,0,.25);
    position: relative;
    height: 60px;
    line-height: 1;
    cursor: default;
}
.flo-menu-container{
    position: absolute;
    width: 100%;
    top: 25px;
    text-align: center;
}
.flo-nav .flo-primary-menu{
    margin: 0;
    padding: 0;
}
.flo-nav .flo-primary-menu li{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    margin-right: 20px;
    transition: all .2s linear;
}
.flo-nav .flo-primary-menu li a{
    color: #FFF;
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.flo-nav .flo-primary-menu.green li:hover{
    border-bottom: 1px solid #91ff24;
}
.flo-nav .flo-primary-menu.orange li:hover{
    border-bottom: 1px solid #ff6038;
}
.flo-nav .flo-primary-menu.yellow li:hover{
    border-bottom: 1px solid #ffcb00;
}
.flo-nav .flo-primary-menu.pink li:hover{
    border-bottom: 1px solid #ff375c;
}

.label-white{
    color:#ffffff;
}
.label-green{
    color:#91ff24;
}
.label-orange{
    color:#ff6038;
}
.label-yellow{
    color:#ffcb00;
}
.label-pink{
    color:#ff375c;
}

.flo-section h1{
    font-size: 115px;
    text-align: center;
    margin: 0;
}
.flo-section h2{
    font-size: 60px;
    margin: 0;
}
.flo-section h3{
    margin: 0;
}
.flo-section h4{
    margin: 0;
}

.flo-container{
    background-color: rgba(0, 0, 0, 0.25);
}
.flo-section{
    max-width: 850px;
    padding: 0 20px;
    margin: 0 auto;
}
.flo-section.two-column .flo-column{
    width: 100%;
}
.flo-section.two-columns .flo-column{
    float: left;
    width: 50%;
}
.flo-section.three-columns .flo-column{
    float: left;
    width: 33.33333333333333%;
}
.flo-section .flo-column p{
    color:#ffffff;
}
.flo-section.one-column p{
    text-align: center;
}

.flo-input{
    padding: 15px 20px;
    outline: 0;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.blur{
    webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}